<div class="topbar">

  <!-- LEFT SIDE -->
  <div class="actions left-actions">
    <button
      class="primary-btn"
      #newOrderBtn
      (click)="openNewOrderPopover()">
      Take Away
    </button>

<button
  class="secondary-btn"
  #reserveBtn
  (click)="openReservationPopover(reserveBtn)">
  Reservation
</button>


<div
  class="bill-search"
  #billSearchBox
  [class.invalid]="isInvoiceInvalid"
>
  <mat-icon>receipt</mat-icon>

  <input
    type="text"
    [placeholder]="isInvoiceInvalid ? 'Invalid invoice' : 'Search Bill No'"
    [(ngModel)]="billNo"
    (keydown.enter)="searchBill()"
    (input)="isInvoiceInvalid = false"
  />

<button
  class="search-btn"
  (click)="searchBill()"
  [disabled]="isSearching"
  type="button">
  ➜
</button>

</div>


  </div>
  

  <!-- RIGHT SIDE (ALWAYS AT END) -->
  <div class="actions right-actions">
    <!-- 🔔 Notification -->
    <button mat-icon-button>
      <mat-icon>notifications</mat-icon>
    </button>

    <!-- 👤 Profile / Logout -->
    <button mat-icon-button [matMenuTriggerFor]="profileMenu">
      <mat-icon>account_circle</mat-icon>
    </button>

    <mat-menu #profileMenu="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>

</div>
