<div class="topbar">

  <!-- LEFT -->
  <div class="actions left-actions">
    <button
      class="primary-btn"
      #newOrderBtn
      (click)="openNewOrderPopover()">
     Take Away
    </button>

    <button class="secondary-btn" (click)="reservation()">
      Reservation
    </button>

    <div class="bill-search">
      <mat-icon>receipt</mat-icon>
      <input
        type="text"
        placeholder="Search Bill No"
        [(ngModel)]="billNo"
      />
    </div>
  </div>

  <!-- RIGHT (pushed to end) -->
  <div class="actions right-actions">
    <button mat-icon-button>
      <mat-icon>notifications</mat-icon>
    </button>

    <button mat-icon-button [matMenuTriggerFor]="profileMenu">
      <mat-icon>account_circle</mat-icon>
    </button>

    <mat-menu #profileMenu="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>

</div>
