.topbar {
  height: 60px;
  background: #ffffff; /* SAME AS SIDEBAR */
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;

  /* Keep the bottom border only */
//   border-bottom: 1px solid #e0e0e0;
}


/* Page Title */
.title {
  font-size: 20px;
  font-weight: 600;
}

/* Search box container */
.search-box {
  display: flex;
  align-items: center;
  background: #f5f5f5;
  padding: 6px 12px;
  border-radius: 8px;
  width: 250px;
}

.search-box mat-icon {
  margin-right: 8px;
  color: #757575;
}

.search-box input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 14px;
}

/* Icons section */
.actions {
  display: flex;
  align-items: center;
  gap: 10px;
}
