<div class="menu-wrapper">

  <!-- HEADER -->
  <div class="header">
    <h2>Menu Items</h2>
  </div>

  <!-- ACTION SECTION -->
  <div class="action-section">

    <div class="button-row">
        <div class="search-row">
      <input type="text" [(ngModel)]="searchText" placeholder="Search items..." />
    </div>
      <button class="btn outline">⬇ Import</button>
      <button class="btn outline">⬆ Export</button>
      <button class="btn add" (click)="showAddPopup = true">+ Add Item</button>
      
    </div>

    

  </div>

  <!-- MAIN CONTENT AREA -->
  <div class="content-area">

    <!-- EMPTY STATE -->
    <div *ngIf="items.length === 0" class="empty-box">
      <h3>No Menu Items Found</h3>
      <button class="btn add" (click)="showAddPopup = true">+ Add Item</button>
    </div>

    <!-- TABLE WHEN ITEMS EXIST -->
    <div *ngIf="items.length > 0" class="table-box">

   <div class="table-box">

  <div class="table-container">
    <table class="menu-table">
      <thead>
        <tr>
          <th>Menu ID</th>
          <th>Item Name</th>
          <th>Type</th>
          <th>Veg / Non-Veg</th>
          <th>Status</th>
          <th>Price</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of items">
          <td>{{ item.menuId }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.type }}</td>

          <td>
            <span [class.veg]="item.vegType === 'Veg'"
                  [class.nonveg]="item.vegType === 'Non-Veg'">
              {{ item.vegType }}
            </span>
          </td>

          <td>
            <span class="status" 
                  [class.available]="item.status === 'Available'"
                  [class.out]="item.status === 'Out of Stock'">
              {{ item.status }}
            </span>
          </td>

          <td>₹ {{ item.price }}</td>

          <td class="actions">
            <button class="icon-btn">👁</button>
            <button class="icon-btn">✏</button>
            <button class="icon-btn">🗑</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

    </div>

    <!-- POPUP -->
    <app-menu-item-add
      *ngIf="showAddPopup"
      (close)="showAddPopup = false"
      (save)="saveNewItem($event)">
    </app-menu-item-add>

  </div>

</div>
