<div class="settings-container">

  <h2 class="title">Settings</h2>

  <div class="card-grid">

    <div class="setting-card" (click)="openAppPreferences()">
      <mat-icon>tune</mat-icon>
      <h3>Table Settings</h3>
      <p>Table settings and Section Settings.</p>
    </div>


    <div class="setting-card" (click)="openMenuImages()">
      <mat-icon>image</mat-icon>
      <h3>Menu Item Images</h3>
      <p>Upload and manage menu item pictures.</p>
    </div>

    <div class="setting-card" (click)="openKotSettings()">
  <mat-icon>receipt_long</mat-icon>
  <h3>KOT / Bill Settings</h3>
  <p>Configure receipt & kitchen order layout.</p>
</div>
<div class="setting-card" (click)="openTakeAwaySettings()">
  <mat-icon>local_shipping</mat-icon>
  <h3>Take Away Settings</h3>
  <p>Configure Parcel, Zomato & Swiggy orders.</p>
</div>


  </div>

</div>