.popover {
  position: relative;
  width: 220px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  background: #ffffff;
  border-radius: 10px;
  border: 1px solid #ffd7b8;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.popover::before {
  content: '';
  position: absolute;
  top: -8px;
  left: 20px;
  top: -6px;
  width: 14px;
  height: 14px;

  background: #ffffff;
  border-left: 1px solid #ffd7b8;
  border-top: 1px solid #ffd7b8;

  transform: rotate(45deg);
  /* creates arrow */
}


/* Base button */
button.mat-mdc-button {
  padding: 8px 14px;
  border-radius: 8px;

  background: #fff7f0;
  color: #222222 !important;

  border: 1px solid #ffd7b8;
  font-weight: 600;

  display: flex;
  align-items: center;
  // justify-content: space-between;

  transition: all 0.2s ease;
}

button.mat-mdc-button::before,
button.mat-mdc-button::after {
  display: none !important;
}

button.mat-mdc-button .mdc-button__ripple {
  display: none !important;
}

/* Enabled */
button.enabled:hover {
  background: #ffe8d6;
  border-color: #ff7a18;
  color: #222222 !important;
}

/* Click (active) */
button.enabled:active {
  background: #ffd9bf;
  border-color: #ff7a18;
  transform: scale(0.97);
}

/* Disabled */
button.disabled,
button.mat-mdc-button:disabled {
  background: #f5f5f5 !important;
  border-color: #e0e0e0 !important;
  color: #9e9e9e !important;
  cursor: not-allowed;
}


/* Coming Soon badge */
.badge {
  font-size: 10px;
  padding: 2px 6px;
  border-radius: 6px;

  background: #e0e0e0;
  color: #555;
  font-weight: 600;
}