.layout-container {
  display: flex;
  height: 100vh;
   overflow: hidden; 
}

/* Sidebar stays fixed width */
app-sidebar {
  width: 260px;
  flex-shrink: 0;
  overflow-y: auto;
}

/* Right side content */
.content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #f8f9fc; // light dashboard background
  overflow: hidden;
}

/* Topbar stays at top */
app-topbar {
  height: 60px;
  border-bottom: 1px solid #e0e0e0;
}

/* Router content goes below topbar */
.page-wrapper {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  overflow: hidden;
}
