<div class="dining-layout">

  <!-- LEFT TABLES -->
  <div class="tables-section">

    <div
      class="zone-box"
      *ngFor="let section of tablesBySection"
      [class.full-height]="tablesBySection.length === 1">

      <h2 class="zone-title">{{ section.name }}</h2>

      <div class="table-scroll">
        <div class="table-grid">

          <div class="table-card"
               *ngFor="let t of section.tables"
               (click)="openOrders(t, section.name)"
               [class.occupied]="isOccupied(t)">

            {{ getDisplayName(t) }}

            <div class="timer" *ngIf="getTimer(t)">
              ⏱ {{ getTimer(t) }}
            </div>

          </div>

        </div>
      </div>

    </div>

  </div>

  <!-- RIGHT REPORTS -->
  <app-reports class="reports-panel"></app-reports>

</div>
