/* Container full height */
.sidenav-container {
  height: 100vh;
   border-radius: 0 !important;
}

/* Sidebar */
.sidebar {
  width: 260px;
  background: #ffffff;
  padding: 0;
  display: flex;
  flex-direction: column;
border-radius: 0 !important;
  /* REMOVE the border (important!) */
  border-right: none !important;
}


/* Logo centered */
.logo {
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  padding: 30px 0 20px 0;
  color: #2c2c2c;
  font-family: 'Inter', sans-serif;
}

/* Divider (soft grey line) */
.divider {
  width: 80%;
  height: 1px;
  background: #e0e0e0;
  margin: 0 auto 20px auto;
}

/* Section wrapper for spacing */
.nav-section {
  padding: 0 20px;
}

/* Navigation item */
.nav-item {
  display: flex;
  align-items: center;
  padding: 14px 10px;     /* spacing between items */
  margin: 10px 0;         /* More vertical spacing */
  cursor: pointer;
  border-radius: 8px;
  transition: background 0.2s ease-in-out;
  font-family: 'Inter', sans-serif;
}

/* Hover */
.nav-item:hover {
  background: #f5f7fb;
}

/* Icon styling */
.nav-item mat-icon {
  font-size: 22px;
  margin-right: 16px;
  color: #484848;
}

/* Text */
.nav-item span {
  font-size: 15px;
  font-weight: 500;
  color: #333;
}
