.popup-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup-box {
  width: 650px;
  max-height: 85vh;
  overflow-y: auto;
  background: #fff;
  border-radius: 12px;
  padding: 25px;
}


h2 {
  margin-bottom: 5px;
  font-size: 22px;
  font-weight: 600;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);  /* FIXED */
  gap: 16px;
}



.form-control {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

input, select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.upload-box {
  margin: 20px 0;
}

.upload-area {
  width: 100%;
  height: 160px;
  border: 2px dashed #bbb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  color: #444;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

button {
  padding: 10px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.cancel {
  background: #eee;
}

.save {
  background: #ff8f2e;
  color: white;
}
