/* You can add global styles to this file, and also import other style files */


html, body {
  font-family: 'Inter', sans-serif !important;
  margin: 0;
  padding: 0;
}

.skeleton {
  background: linear-gradient(
    90deg,
    #eeeeee 25%,
    #f5f5f5 37%,
    #eeeeee 63%
  );
  background-size: 400% 100%;
  animation: skeleton-loading 1.4s ease infinite;
}

@keyframes skeleton-loading {
  0% { background-position: 100% 0; }
  100% { background-position: -100% 0; }
}

